@use "themes/minimalist.theme";
@use "themes/minimalist-dark.theme";
@use "themes/swordfest.theme";
@use "themes/swordfest-dark.theme";

/* --------------------hero----------------------- */

.hero-image {
  border-radius: 100%;
  width: 7.5rem;
}

/* --------------------Payment options----------------------- */

.payment-btn {
  width: 100%;
  transition: all 0.2s ease;
}

.payment-btn:hover {
  transform: translate3d(0px, 0px, 0px) scale(1.015);
}

#payment-options {
  width: 450px;
  margin: auto;
}

@media (max-width: 768px) {
  #payment-options {
    width: 90%;
  }
}

/* --------------------Modal----------------------- */

@media (min-width: 576px) {
  .modal-dialog {
   width: 350px;
  }
}

.close-modal-icon{
  font-size: 24px;
  cursor: pointer;
}

.qr-container {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
