@use "themes/minimalist.theme";
@use "themes/minimalist-dark.theme";
@use "themes/swordfest.theme";
@use "themes/swordfest-dark.theme";

/* --------------------general----------------------- */

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.align-items--center {
  align-items: center;
}

.justify-content--center {
  justify-content: center;
}

.justify-content--between {
  justify-content: space-between;
}

.flex-grow--1 {
  flex-grow: 1;
}

.pt--2 {
  padding-top: 0.5rem;
}

.pt--3 {
  padding-top: 1rem;
}

.pb--4 {
  padding-bottom: 1.5rem;
}

.py--3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ms--2 {
  margin-left: 0.5rem;
}

.me--auto {
  margin-right: auto;
}

.me--2 {
  margin-right: 0.5rem;
}

.mb--1 {
  margin-bottom: 0.25rem;
}

.mb--5 {
  margin-bottom: 3rem;
}

.my--4 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx--0 {
  margin-left: 0;
  margin-right: 0;
}

.mx--2 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.text--center {
  text-align: center;
}

.text-decoration--none {
  text-decoration: none;
}

.w--100 {
  width: 100%;
}

/* --------------------button----------------------- */

.btn-d {
  font-size: 14px;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  background-color: transparent;
}

/* --------------------hero----------------------- */

.hero-image {
  border-radius: 100%;
  width: 7.5rem;
}

/* --------------------Payment options----------------------- */

.payment-btn {
  width: 100%;
  transition: all 0.2s ease;
}

.payment-btn:hover {
  transform: translate3d(0px, 0px, 0px) scale(1.015);
}

#payment-options {
  width: 450px;
  margin: auto;
}

@media (max-width: 768px) {
  #payment-options {
    width: 90%;
  }
}

/* --------------------Modal----------------------- */

@media (min-width: 576px) {
  .modal-dialog {
    width: 350px;
  }
}

.close-modal-icon {
  font-size: 24px;
  cursor: pointer;
}
.modal-header {
  border: unset !important;
}

.qr-container {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.paylink-link {
  cursor: pointer;
  color: unset;
  :hover {
    color: unset;
  }
}

.tooltips {
  position: relative;
  display: inline-block;
}

.tooltips .tooltiptext {
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
}

.tooltips .main-tooltip {
  bottom: 30px;
  left: 50%;
  margin-left: -60px;
}

.tooltips .qr-tooltip {
  bottom: 40px;
  left: 50%;
  margin-left: 100px;
}

.hideTooltip {
  display: none;
}

.showTooltip {
  display: block;
}
