.minimalist-dark-theme {
  background-color: #131212;
  color: white;
  min-height: 100vh;

  .social-icon {
    color: white !important;
    font-size: 25px;
  }

  .payment-btn {
    border-radius: 50rem !important;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem !important;
    margin-bottom: 1.5rem !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    background-color: #212121;
  }

  .payment-action-icon {
    color: white;
    font-size: 21px;
  }

  .payment-label {
    text-align: center;
    padding-left: 35px;
    color: white;
  }

  .payment-img {
    width: 40px;
    height: 40px;
  }

  .payment-action-btn {
    border-radius: 6px;
  }

  .payment-action-btn:hover {
    background: #212121;
  }

  .payment-action-btn:active {
    background: #212121;
    border: 1px solid #212121;
  }

  .btn-primary {
    border: none;
    background-color: #1e1e1e;

    &:hover {
      background-color: #2b2b2b;
    }
  }

  .modal-content {
    background-color: #131212;
  }

  .paylink-link:hover {
    color: white !important;
  }

  .tooltipcolor {
    background-color: white;
    color: #131212;
  }
}
