.swordfest-dark-theme {
  background-color: #111111;
  color: #DEDEDE !important;
  font-family: "Inter";

  #payment-options {
    width: 448px;
    margin: auto;
  }

  @media (max-width: 768px) {
    #payment-options {
      width: 90%;
    }
  }

  .social-icon {
    color: #DEDEDE;
    font-size: 25px;
  }

  .payment-btn {
    padding: 16px;
    height: 72px;
    background: #212121;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
    margin-bottom: 24px;
  }

  .payment-action-icon {
    color: #DEDEDE;
    font-size: 18px;
    margin-top: 4px;
  }

  .payment-action-btn {
    border-radius: 6px;
  }

  .payment-action-btn:hover {
    background: #1A1A1A;
  }

  .payment-action-btn:active {
    background: #171717;
    border: 1px solid #171717;
  }

  .payment-label {
    width: 73px;
    height: 19px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #DEDEDE;
  }

  .payment-img {
    width: 28px;
    height: 28px;
  }

  .btn-primary {
    border: none;
    background-color: #167347;

    &:hover {
      background-color: #125335;
    }
  }

  .modal-content {
    background-color: #212121;
  }

  .qr-container {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
  }

  .close-modal-icon{
    font-size: 24px;
    cursor: pointer;
  }
}
