.swordfest-theme {
  background: linear-gradient(252.44deg, #fcfcfc 0%, #d9d9d9 100%);
  color: #212121 !important;
  font-family: "Inter";
  min-height: 100vh;

  #payment-options {
    width: 448px;
    margin: auto;
  }

  @media (max-width: 768px) {
    #payment-options {
      width: 90%;
    }
  }

  .social-icon {
    color: #212121;
    font-size: 25px;
  }

  .payment-btn {
    padding: 16px;
    height: 72px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
    margin-bottom: 24px;
  }

  .payment-action-icon {
    color: #212121;
    font-size: 18px;
  }

  .payment-action-btn {
    border-radius: 6px;
  }

  .payment-action-btn:hover {
    background: #ebebeb;
  }

  .payment-action-btn:active {
    background: #d7d7d7;
    border: 1px solid #d7d7d7;
  }

  .payment-label {
    width: 73px;
    height: 19px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #212121;
  }

  .payment-img {
    width: 28px;
    height: 28px;
  }

  .btn-primary {
    border: none;
    background-color: #167347;

    &:hover {
      background-color: #125335;
    }
  }

  .modal-content {
    background-color: #e2e2e2;
  }

  .qr-container {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
  }

  .paylink-link:hover {
    color: #212121 !important;
  }

  .tooltipcolor {
    background-color: #212121;
    color: white;
  }
}
